# Fuel price prediction using KNeighborsClassifier

In [1]:
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [2]:
fuel=pd.read_csv("fuel_data.csv")
fuel.head()

   drivenKM  fuelAmount
0     390.0      3600.0
1     403.0      3705.0
2     396.5      3471.0
3     383.5      3250.5
4     321.1      3263.7

In [3]:
fuel.shape

(19, 2)

In [4]:
fuel.columns

Index(['drivenKM', 'fuelAmount'], dtype='object')

In [5]:
type(fuel)

pandas.core.frame.DataFrame

In [6]:
fuel.info

<bound method DataFrame.info of     drivenKM  fuelAmount
0     390.00      3600.0
1     403.00      3705.0
2     396.50      3471.0
3     383.50      3250.5
4     321.10      3263.7
5     391.30      3445.2
6     386.10      3679.0
7     371.80      3744.5
8     404.30      3809.0
9     392.20      3905.0
10    386.43      3874.0
11    395.20      3910.0
12    381.00      4020.7
13    372.00      3622.0
14    397.00      3450.5
15    407.00      4179.0
16    372.40      3454.2
17    375.60      3883.8
18    399.00      4235.9>

In [7]:
fuel.isnull()

    drivenKM  fuelAmount
0      False       False
1      False       False
2      False       False
3      False       False
4      False       False
5      False       False
6      False       False
7      False       False
8      False       False
9      False       False
10     False       False
11     False       False
12     False       False
13     False       False
14     False       False
15     False       False
16     False       False
17     False       False
18     False       False

In [8]:
Y=fuel[["fuelAmount"]]

In [10]:
X=fuel[["drivenKM"]]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2,random_state=42)

In [12]:
print(X_train.shape, y_train.shape)

(15, 1) (15, 1)

In [13]:
print (X_test.shape, y_test.shape)

(4, 1) (4, 1)

In [14]:
type(X)

pandas.core.frame.DataFrame

In [15]:

lm= linear_model.LinearRegression()
model = lm.fit(X_train, y_train)

In [16]:
a=[[800]]
model.predict(a)

array([[6905.64571567]])

In [17]:
Y_predict = model.predict(X_test)
Y_predict

array([[3775.81615646],
       [3785.74000628],
       [3815.51155575],
       [3875.05465468]])

In [18]:
from sklearn.metrics import mean_squared_error
MSE_LR = mean_squared_error(y_test,Y_predict)

In [19]:
MSE_LR

46181.36710639157

In [20]:
lm.coef_

array([[7.63373063]])

In [21]:
lm.intercept_

array([798.6612099])

In [22]:
from sklearn.preprocessing import StandardScaler 
ss=StandardScaler ()
scaled_X_train=ss.fit_transform(X_train)
scaled_X_train

array([[ 1.0601947 ],
       [-0.5322439 ],
       [ 0.02186483],
       [-0.55221178],
       [ 1.19497791],
       [-0.37250084],
       [ 0.670821  ],
       [ 0.45616627],
       [ 0.79562026],
       [-3.09312478],
       [-0.10293443],
       [-0.56219572],
       [ 0.16812957],
       [ 0.69578085],
       [ 0.15165606]])

In [23]:
scaled_X_test=ss.transform(X_test)
scaled_X_test

array([[0.34634292],
       [0.41123853],
       [0.60592538],
       [0.99529908]])

In [24]:
from sklearn.preprocessing import StandardScaler
  
scaler = StandardScaler()
  
scaler.fit(scaled_X_train,y_train)
ss_ypredict = scaler.transform(scaled_X_test)
ss_ypredict

array([[0.34634292],
       [0.41123853],
       [0.60592538],
       [0.99529908]])

In [25]:
from sklearn.metrics import mean_squared_error
MSE_ss = mean_squared_error(y_test,ss_ypredict)
MSE_ss

13456772.229285717

In [26]:
MSE_ss

13456772.229285717

In [27]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
 
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train,y_train)

In [29]:
from sklearn.preprocessing import MinMaxScaler
mscaler = MinMaxScaler()
model=mscaler.fit(scaled_X_train,y_train)
mm_ypredict=model.transform(scaled_X_test)
mm_ypredict

array([[0.80209546],
       [0.81722934],
       [0.86263097],
       [0.95343423]])

In [30]:
from sklearn.metrics import mean_squared_error
MSE_mm = mean_squared_error(y_test,mm_ypredict)
MSE_mm

13454828.539572451

In [31]:
from sklearn.linear_model import SGDRegressor
sgdr = SGDRegressor()
sgdr.fit(X_train, y_train)

C:\Users\antoj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SGDRegressor()